/* TODO: Style the product card container */
.inStock {
  background-color: #f3b0ea;
  border: 1px solid rgb(205, 62, 90);
  padding: 16px;
  margin-bottom: 16px;
  margin: 20px;
}

/* TODO: Add special styling for out-of-stock products */
.outOfStock {
  background-color: #ffe6e6;
  border: 2px solid #ddd;
  padding: 16px;
    margin-bottom: 16px;
}
